body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
}
.contenedor {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
}
.contenedor2{
    width: 90%;
    max-width: 900px;

    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 40px;
}
/*.tarjeta {
    background-color: darksalmon;
    padding: 1px;
    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
    position: fixed;
    left: 0;
    top: 10;

    width: 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px; 
    
}*/
.menu-lateral{
    background-color: darksalmon;

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    width: 200px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 20px;
}
.eleccion{
    background-color: darksalmon;

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    width: 900px;
    height: 400px;

    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    
    
    gap: 20px;
}
.eleccion button{
    border-radius: 12px;
    background-color: seagreen;
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}
.menu-lateral button{
    border-radius: 12px;
    background-color: seagreen;
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}
.caja{
    background-color: darksalmon;

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.nombreProducto{
    text-align: center;
    font-size: 25px;
}
.descripcionProducto{
    font-size: 20px;
}
h1{
    text-align: center;
    border-radius: 12px;
    background-color: lightgreen;
}
