/*Cuerpo base para todos los html.*/
body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/*Los contenedores en index.*/
.contenedor {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
}
/*Mostrar siempre al iniciar la página una de las opciones de búsqueda.*/
#contenedor2{
    display: none;
}
#contenedor2.mostrar, .inicio.mostrar{
    display: flex;
    width: 90%;
    max-width: 900px;

    flex: 1;
    flex-direction: row;
    margin: 40px auto;
    gap: 40px;
}
/*Configuración de los botones para elegir productos*/
.menu-lateral{
    background-color: var(--dark-salmon);

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    width: 200px;
    height: 440px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 20px;
}
.eleccion{
    background-color: var(--dark-salmon);

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    width: 900px;
    height: 400px;

    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    
    padding: 20px;
    gap: 20px;
}
.eleccion button{
    border-radius: 12px;
    background-color: var(--green);
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}

.menu-lateral button, .menu-lateral button:hover{
    border-radius: 12px;
    background-color: var(--light-green);
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}
.menu-lateral button, .menu-lateral button:active{
    border-radius: 12px;
    background-color: var(--green);
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}
/* Formato del título en todas las páginas. */
h1{
    text-align: center;
    border-radius: 12px;
    background-color: #90ee90;
}
/* PArte donde se muestra el producto con su información y su imagen en descripciones.html. */
.caja{
    background-color: var(--dark-salmon);

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
.nombreProducto{
    text-align: center;
    font-size: 25px;
}
.descripcionProducto{
    font-size: 20px;
}
#imagen{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}
/* Configuracion de la barra de búsqueda y del submenu. */
.barra-busqueda{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

#despliegue-opciones-busqueda{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-width: 0px;
    background-color: darkgray;
    cursor: pointer;
    width: 5%;
}
#submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
#submenu.mostrar{
    display: flex;
    flex-direction: column;
}
#submenu button{
    border-width: 0.1px;
    border-color: blueviolet;
    background-color: rgb(165, 125, 202);
    border-radius: 12px;
}
.barra-busqueda input{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-width: 0px;
    width: 95%;
}

/* Configuración del pie de página. */
.pie{
    text-align: center;
    opacity: 0.5;
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Configuración de los botones del submenu de la barra de búsqueda. */
#contenedor-categoria{
    display: none;
}
#contenedor-categoria.mostrar{
    width: 90%;
    max-width: 900px;
    
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 40px auto;
    gap: 40px;
}
#contenedor-marca{
    display: none;
}
#contenedor-marca.mostrar{
    width: 90%;
    max-width: 900px;
    
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 40px auto;
    gap: 40px;
}
/* Configuración de los componentes de inicio-secion.html. */
.iniciar{
    background-color: var(--dark-salmon);

    border-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.correo, .contrasena {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botones button, .botones button:hover{
    border-radius: 12px;
    background-color: var(--light-green);
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}
.botones button, .botones button:active{
    border-radius: 12px;
    background-color: var(--green);
    border-width: 0px;
    font-size: 20px;
    cursor: pointer;
}