body{
    text-align: center;
    
}

.cabecera{
    font: 1.2cm sans-serif;
}

#text{
    font-size: 0.7cm;
}

.cabecera2{
    font: 0.9cm sans-serif;
}

#text2{
    font-size: 0.5cm;
}

.tarjetas{

}

.tarjeta{
    
}