body{
    text-align: center;
    
}

.cabecera{
    font: 1.2cm sans-serif;
}

#text{
    font-size: 0.7cm;
}

.cabecera2{
    font: 0.9cm sans-serif;
}

#text2{
    font-size: 0.5cm;
}

.tarjetas{
    display: flex;
    justify-self: center;
    column-gap: 500px;
    align-content: center;
}

.tarjeta{
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgba(0, 128, 128, 0.7);
    padding: 20px;
}

footer{
    align-self: center;

}